# Misc
*.log
.DS_Store
*.bak

# IDE
.idea/
.vscode/
*.iml

# Flutter/Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties

# iOS/macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
macos/Pods/
macos/Flutter/ephemeral/

# Linux/Windows generated
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Secrets
.env
*.keystore
*.jks
